button {
	width: 35%;
	justify-items: center;
	align-content: center;
	border: 2px solid #0D1B1E;
	background: transparent;
	padding: 1em;
	color: #0D1B1E;
	border-radius: 5em;
	transition: 0.7s;
	&:hover, &:focus, &:active {
		background: black;
		color: #FCFCFC;
	}
	margin-bottom: 5vh;
	margin-top: 4vh;
	font-size: 70%;
}

@media only screen and (max-width: 600px) {
	button {
		padding: 3vmin;
		width: 40%;
		font-size: 2.5vmin;
		margin-top: 1.5vmax;
	}
}