.dialog {
  width: 30vw;
  height: 20vh;
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 13%;
  transform: translate(-50%,-50%);
  background-color: var(--background-light-color);
  padding: 2em;
  border-radius: .9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.dialog h1 {
  color: var(--text-dark-color);
}