.static-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0D1B1E;
}

.dinamic-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0D1B1E;
}

html {
  font-size: calc(100% + 0.5vw);
}

/* Tirare estilo automático de links */
a {
  text-decoration: none;
  color: #000;
}


/* Retirar presets padrões do html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rotobo, sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
}