.sidebar-container {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  background-color: #0D1B1E;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
}

.close-button {
  margin-top: .8rem;
  margin-right: 1.5rem;
  color: white;
  height: 8%;
  width: 8%;
}

.sidebar-items {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  margin-right: 1rem;
}

.items-elements {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: .8rem;
  width: 100%;
  border-radius: .4rem;
  padding: .4rem;
}

.items-elements:hover {
  background-color: #779197;
}

.items-elements span {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.items-elements span:hover {
  color: white;
}

.sidebar-items-icons {
  color: white;
  margin-left: 1rem;
}