.float-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-dark-color);
}

.email-code-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 45vh;
  width: 40vw;
  background-color: var(--background-light-color);
  border-radius: 1.5em;
}

.email-code-form input {
  margin: 0;
  margin-top: 1em;
}

.email-code-form button {
  margin: 0;
  margin-top: 1em;
}

.email-code-form h1 {
  font-size: 1.4em;
  color: var(--background-dark-color);
  font-weight: bolder;
}

.email-code-form p {
  font-size: .8em;
  margin-top: .5em;
}

.error-text {
  color: var(--red-color);
}