.container-new-newsletter {
  min-height: 78vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-new-newsletter {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-new-newsletter h1 {
  margin-top: .8rem;
}

.label-new-newsletter {
  margin-top: 3%;
  font-size: 1rem;
  color: var(--text-light-color);
}

.name-new-newsletter {
  width: 60%;
  margin: 0;
  margin-top: 1%;
  border: .1em solid var(--text-light-color);
  border-bottom: .2em solid var(--text-light-color);
  background-color: var(--text-light-color);
}

.textarea-new-newsletter {
  margin-top: 1%;
  width: 60%;
  background: var(--text-light-color);
  text-align: center;
	outline: none;
  border: .1em solid var(--text-light-color);
  border-bottom: .2em solid var(--text-light-color);
	color: var(--text-dark-color);
	font-size: 70%;
	padding: .5em 1em .5em 1em;
	border-radius: 2em;
	letter-spacing: 0.01em;
  resize: none;
}

.new-newsletter-button {
  margin: .5rem 0 .5rem 0;
  width: 25%;
}