.container-user-newsletters {
  min-height: 78vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: var(--text-light-color);
}

.list-newsletter-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding-left: 11%;
}

.edit-newsletter-dialog {
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background-light-color);
  padding: 2em;
  border-radius: .6em;
  border: none;
}

.form-edit-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label-edit-newsletter {
  margin-top: 3%;
  font-size: 1rem;
}

.name-edit-newsletter {
  width: 80%;
  margin: 0;
  margin-top: 1%;
  background-color: var(--text-light-color);
}

.textarea-edit-newsletter {
  margin-top: 1%;
  width: 90%;
  background: var(--text-light-color);
  text-align: center;
	outline: none;
	color: var(--text-dark-color);
	font-size: 70%;
	padding: 1em;
	border-radius: 2em;
	letter-spacing: 0.01em;
  resize: none;
  border: 2px solid var(--text-dark-color);
  border-bottom: 4px solid var(--text-dark-color);
}

.button-edit-newsletter {
  margin: 0;
  margin-top: .8rem;
  width: 25%;
}

.close-edit-newsletter-button {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.create-newsletter-posts-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.create-newsletter-posts-back-button {
  align-self: flex-start;
  color: var(--text-light-color);
}

.create-newsletter-posts-back-button:hover {
  opacity: .7;
}

.create-newsletter-posts-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  width: 20%;
  margin: 0;
}

.create-newsletter-posts-icon {
  margin-left: .5em;
}