.home-logged-container {
  min-height: 78vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-image: url("../../images/home-page-logged.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.new-newsletter-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  background-color: var(--background-overlay-black-color);
}

.subscribe-newsletter-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  background-color: var(--background-overlay-black-color);
}

.home-logged-container p {
  font-size: .8rem;
  color: var(--text-light-color);
}

.home-logged-container button {
  width: 50%;
  font-weight: bold;
}

.button-newsletter-container:hover {
  cursor: pointer;
}