button {
	width: 35%;
	justify-items: center;
	align-content: center;
	border: 1px solid transparent;
	background: var(--button-color);
	padding: 1em;
	color: var(--text-light-color);
	border-radius: 5em;
	transition: 0.6s;
	margin-bottom: 5vh;
	margin-top: 4vh;
	font-size: 70%;
	font-weight: bolder;
	&:hover, &:focus, &:active {
		background-color: var(--button-hover-color);
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px) {
	button {
		padding: 3vmin;
		width: 40%;
		font-size: 2.5vmin;
		margin-top: 1.5vmax;
	}
}