.result-items-container-search-newsletter {
  width: 90%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #555358;
  overflow-wrap: break-word;
}

.header-search-newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-item-search-newsletter {
  color: whitesmoke;
}

.button-search-newsletter {
  margin: 0;
  width: 13%;
  padding: .6rem;
  border-color: whitesmoke;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.button-search-newsletter:hover {
  border-color: black;
}

.description-item-search-newsletter {
  color: whitesmoke;
  margin-top: 1rem;
  font-size: .8rem;
}