.share-button-newsletter-item {
  margin-bottom: .5em;
}

.edit-button-newsletter-item {
  margin-top: .5rem;
}

.edit-button-newsletter-item:hover {
  opacity: 0.6;
}

.delete-button-newsletter-item {
  color: var(--red-color);
  margin-bottom: 0;
}

.delete-button-newsletter-item:hover {
  opacity: 0.6;
}

.user-newsletter-item-edit-title-input {
  margin: 0;
  border: none;
  border-bottom: 2px solid var(--text-light-color);
  border-radius: .2rem;
  text-align: start;
  color: var(--text-light-color);
  font-size: 1.4rem;
  padding: .2rem;
  font-weight: bold;
}

.user-newsletter-item-edit-description-input {
  margin: .7rem 0 0 0;
  border: none;
  border-bottom: 2px solid var(--text-light-color);
  border-radius: .2rem;
  text-align: start;
  color: var(--text-light-color);
  padding: .2rem;
  font-size: .8rem;
}

.confirm-edit-button-newsletter-item {
  color: rgb(0, 255, 0);
  margin-top: .5rem;
}

.title-newsletter-item-edit {
  padding-left: .2rem;
}

.description-newsletter-item-edit {
  padding-left: .2rem;
}

.share-newsletter-dialog {
  width: 40vw;
  height: 30vh;
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background-light-color);
  padding: 2em;
  border-radius: .6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.share-newsletter-dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.share-newsletter-title-dialog {
  color: var(--text-dark-color);
  font-size: 1rem;
  margin-bottom: .8em;
}

.share-newsletter-link-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: silver;
  padding: .5em;
  border-radius: .5em;
}

.share-newsletter-url {
  margin-right: 1em;
  color: var(--text-dark-color);
}

.copy-button-share-newsletter {
  color: var(--text-dark-color);
  cursor: pointer;
}

.copy-button-share-newsletter:hover {
  opacity: .5;
}

.close-button-share-newsletter {
  align-self: flex-end;
  cursor: pointer;
}

.close-button-share-newsletter:hover {
  opacity: .6;
}
